<div id="fancybox-tmp"></div>

<div id="fancybox-loading">
  <div></div>
</div>

<div id="fancybox-overlay"></div>
<div id="fancybox-wrap">
  <div id="fancybox-outer">
    <div class="fancy-bg" id="fancy-bg-n"></div>
    <div class="fancy-bg" id="fancy-bg-ne"></div>
    <div class="fancy-bg" id="fancy-bg-e"></div>
    <div class="fancy-bg" id="fancy-bg-se"></div>
    <div class="fancy-bg" id="fancy-bg-s"></div>
    <div class="fancy-bg" id="fancy-bg-sw"></div>
    <div class="fancy-bg" id="fancy-bg-w"></div>
    <div class="fancy-bg" id="fancy-bg-nw"></div>
    <div id="fancybox-inner"></div>
    <a id="fancybox-close"></a>
    <a href="javascript:;" id="fancybox-left">
      <span class="fancy-ico" id="fancybox-left-ico"></span>
    </a>
    <a href="javascript:;" id="fancybox-right">
      <span class="fancy-ico" id="fancybox-right-ico"></span>
    </a>
  </div>
</div>