<!--.footer-->
<div style="margin-top: -204px;" id="footer">
  <div id="bottom-links">
    <div class="container_16">
      <div class="grid_4">
        <h3>NAVIGASI</h3>
        <ul>
          <li><a href="http://www.gantibaju.com/belanja/" title="Belanja">Belanja</a></li>
          <li>
            <a href="http://www.gantibaju.com/pilih-desain/" title="Voting desain">Voting Desain</a>
          </li>
          <li><a href="http://www.gantibaju.com/forum/" title="Forum">Forum</a></li>
          <li>
            <a href="http://www.gantibaju.com/kirim-desainmu/" title="Kirim desain">Kirim Desainmu</a>
          </li>
          <li>
            <a href="http://www.gantibaju.com/kontak-support/"
             title="Support &amp; Laporan">Support &amp; Laporan</a>
          </li>
          <li><a href="http://www.gantibaju.com/tema/" title="Tema">Tema</a></li>
          <li>
            <a href="http://www.gantibaju.com/pilih-desain/?Archive=999" 
              title="Archive Design">Inspirasi Desain</a>
          </li>
          <li><a href="http://www.gantibaju.com/sitemap/" title="Site Map">Site Map</a></li>
        </ul>
      </div>
      <div class="grid_4">
        <h3>PANDUAN</h3>
        <ul>
          <li><a href="http://www.gantibaju.com/faq/" title="F.A.Q">F.A.Q</a></li>
          <li><a href="http://www.gantibaju.com/cara-pemesanan/" title="Cara Pesan">Cara Pembelian</a></li>
          <li><a href="http://www.gantibaju.com/cara-berpartisipasi/" title="Cara Kirim Desain">Cara Berpartisipasi</a></li>
          <li><a href="http://www.gantibaju.com/basic-flow/" title="Flow Kompetisi Desain">Panduan Kompetisi Desain</a></li>
          <li><a href="http://www.gantibaju.com/shipping-info/" title="Informasi Pengiriman">Informasi Pengiriman</a></li>
          <li><a href="http://www.gantibaju.com/ukuran-kaos/" title="Ukuran Baju">Ukuran Kaos</a></li>
          <li><a href="http://www.gantibaju.com/syarat-dan-ketentuan" title="Syarat dan Ketentuan">Syarat dan Ketentuan</a></li>
        </ul>
      </div>
      <div class="grid_4">
        <h3>GANTIBAJU.COM</h3>
        <ul>
          <li><a href="http://www.gantibaju.com/tentang-kami/" title="Tentang Kami">Tentang Kami</a></li>
          <li><a href="http://www.gantibaju.com/founders/" title="The Founders">The Founders</a></li>
          <li><a href="http://www.gantibaju.com/kontak-support/" title="Kontak lewat Email">Kontak Kami</a></li>
          <li><a href="http://twitter.com/gantibajudotcom" target="blank">Follow di Twitter</a></li>
          <li><a href="http://www.facebook.com/pages/Gantibajucom/89076804665" target="blank">Add di Facebook</a></li>
          <li><a href="http://www.flickr.com/photos/35304998@N07/" target="blank">Lihat di Flickr</a></li>
          <li><a href="http://www.gantibaju.com/blog/" target="blank">Blog</a></li>

        </ul>
      </div>
      <div class="grid_4">
        <h3>TOKO OFFLINE</h3>                    
        <p><strong>Jakarta</strong><br>Mazee, fX Lifestyle X'enter lt 6<br>Jl. Jend Sudirman, Pintu 1 Senayan</p>
        <p><strong>Bandung</strong><br>Jl. Piit No.1<br>Kec. Coblong, Surapati<br>Telp. 022-2503530</p>
      </div>

      <div class="clear" style="height:20px"></div>
      <div id="copyright">© 2010 - 2011 <a href="http://www.2ndSkin.me/" title="gantibaju.com">2ndSkin.me</a>. All Rights Reserved.<br>
        <a href="http://www.gantibaju.com/">Kompetisi desain kaos terbesar di Indonesia</a> on gantibaju.com
      </div>
    </div><!-- .container_16 -->
  </div><!-- #bottom-link -->
    
    
    
  <div class="dialog-box">
    <div id="batalcart" class="dialog">
      <h3>Apakah anda yakin akan menghapus semua pesanan anda di keranjang belanja ??</h3>
      <p class="dialog-buttons clearfix"><a href="" onclick="clearCartClick(); return false;" title="Hapus" class="dash dash1"><span>Hapus</span></a>
        <a class="dash dash2 fancyclose" title="Jangan" href="#"><span>Jangan ah..</span></a>
      </p>
    </div>
  </div>
</div><!-- #footer -->




