
<div id="langoption" style="height: 37px; background-color: #37434f; margin-top: 0px; " align="right">
  <div class="mainbar" style="width:960px;margin:0 auto;">
    <div class="mainbarInner" 
      style="overflow:visible; position:relative; display:block; height:37px;">

      <div class="endleft" style="float:right;height: 100%">&nbsp;</div>
      <div class="endrightleft" style="float:right;">
        <ul class="mainMenu" style="float:right;">
          <li>
            <dl class="staticMenu" id="staticMenuCart">
              <dt>
                <a id="topcart-status" href="#">
                  <span>
                    <%= image_tag "cart_flat.png", :style => "margin-bottom: -5px;", :height => "20"%>
                    <!--                     <img style="margin-bottom: -5px;" src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/cart_flat.png" height="20"> -->
                  </span> 0 Pesanan :( 
                  <span>
                    <%= image_tag "menu_open.gif" %> 
                  </span>
                </a>
              </dt>
              <dd>
                <ul style="display: none;" class="mainMenuSubCart">
                  <li>
                    <a id="checkout-link" href="http://www.gantibaju.com/invoice.php" style="cursor: pointer;">
                      Check Out
                    </a>
                  </li>
                  <li>
                    <a id="bataldlglink" name="batal" href="#batalcart" title="Batal" style="cursor: pointer;">
                      Batal
                      </a>
                  </li>
                </ul>
              </dd>
            </dl>
          </li>
        </ul> 
      </div>

      <div class="endrightleft" style="float:right;">
        <ul class="mainMenu" style="float:right;">
          <li style="border-right:0;">
            <dl class="staticMenu" id="staticMenuAkunku">
              <dt>
                <a href="#" title="Register / Login">Register / Login&nbsp;&nbsp;
                  <span>
                    <%= image_tag "menu_open.gif"%>
                    <!-- <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/menu_open.gif"> -->
                  </span>
                </a>
              </dt>
              <dd>
                <ul style="display: none;" class="mainMenuSubAkunku">
                  <li>
                    <%= link_to "Login", new_user_session_url %>
                    <!-- <a href="http://www.gantibaju.com/formlogin.php" title="Login">Login</a> -->
                  </li>

                  <li>
                    <a href="#" onclick="fblogin();return false;" title="Login Via FB">Login Via FB</a>
                  </li>
                  <li>
                    <a href="http://www.gantibaju.com/daftar/" title="Daftar Akun Baru">
                      Daftar Akun Baru</a>
                  </li>
                </ul>
              </dd>
            </dl>
          </li>
        </ul>
      </div>
      
      
                        <!--<div class="endright" style="float:right;">
<ul class="mainMenu" style="float:right;">
<li style="border-right:0;">
  <dl class="staticMenu">
            <dt><a href="#">Language : Indonesia&nbsp;&nbsp;<span><img src="http://www.gantibaju.com/images/menu_open.gif" /></span></a></dt>
       <dd>
              <ul class="mainMenuSubLang">
                        <li><a href="#" onclick="SetLanguage('en');">English</a></li>
                        <li><a href="#" onclick="SetLanguage('id');">Indonesia</a></li>

              </ul>
       </dd>
 </dl>
</li>
</ul>

</div>-->
      <div style="float:left;left:-18px; display:block;position:relative;top:7px">
        <form action="http://www.gantibaju.com/search/" method="post">
          <input style="width: 200px; height: 15px;" id="search" name="key" 
            class="disinput" type="text">
          <input id="searchbutton" style="top: -3px; right: -30px;" value="Search" type="submit">
        </form>
      </div>
    </div>
  </div>
</div>
