<div id="menu" class="clearfix">
  <div class="menu-top" style="margin-top:10px;margin-right:70px">
    <a href="http://www.gantibaju.com/" title="GantiBaju.com">
      <%= image_tag "logo.png" , :height => "55" %>
      <!-- <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/logo.png" 
         height="55"> -->
    </a>
  </div>
  <ul class=" menu-top has sf-js-enabled sf-shadow">
    <li>
      <a class="sf-with-ul" href="http://www.gantibaju.com/belanja/" title="">Belanja<span class="sf-sub-indicator"> »</span>
      </a>
      <ul style="display: none; visibility: hidden;">
        <li><a href="http://www.gantibaju.com/produk/?type=guys" title="Koleksi kaos cowok gantibaju yang bisa kamu miliki." style="font-size: 18px;">Kaos Cowo</a></li>
        <li><a href="http://www.gantibaju.com/produk/?type=girls" title="Koleksi kaos cewek bagi kamu yang trendy." style="font-size: 18px;">Kaos Cewe</a></li>
      </ul>

    </li>
  </ul>
  <ul class=" menu-top has sf-js-enabled sf-shadow">
    <li>
      <a class="sf-with-ul" href="http://www.gantibaju.com/pilih-desain/" title="Kompetisi Yang Sedang Berlangsung">Vote<span class="sf-sub-indicator"> »</span></a>
      <ul style="display: none; visibility: hidden;">

        <li><a href="http://www.gantibaju.com/pilih-desain/" title="Kompetisi Yang Sedang Berlangsung" style="font-size: 18px;">Semua Tema</a></li>
        <li><a href="http://www.gantibaju.com/pilih-desain/?shirtcategory3=46" name="46" title="Kompetisi Yang Sedang Berlangsung" style="font-size: 18px;">Hantu Tradisional</a></li>
        <li><a href="http://www.gantibaju.com/pilih-desain/?shirtcategory3=47" name="47" title="Kompetisi Yang Sedang Berlangsung" style="font-size: 18px;">Pahlawan Nasional</a></li>
        <li><a href="http://www.gantibaju.com/pilih-desain/?shirtcategory3=43" name="43" title="Kompetisi Yang Sedang Berlangsung" style="font-size: 18px;">Indonesia Banget</a></li>
      </ul>
    </li>
  </ul>
  <ul class=" menu-top has sf-js-enabled sf-shadow">
    <li>
      <a class="sf-with-ul" href="http://www.gantibaju.com/kirim-desainmu/" title="Kirim desainmu dan ikuti langkahnya.">Submit<span class="sf-sub-indicator"> »</span></a>
      <ul style="display: none; visibility: hidden;">
        <li><a href="http://www.gantibaju.com/kirim-desainmu/" title="Buat Design Keren dan Kirim desainmu" style="font-size: 18px;">Kirim Desainmu</a></li>
        <li><a href="http://www.gantibaju.com/belanja/?upload=foto" title="Ikutan narsis berGantibaju yuk !" style="font-size: 18px;">Submit Foto</a></li>
      </ul>
    </li>
  </ul>
  
  
  <!--<div class="menu-top has">
  <a href="http://www.gantibaju.com/pilih-desain/" title="Ikutan, yuk!">Ikutan, Yuk!</a>
  <ul class="sub">
  <li><a href="http://www.gantibaju.com/pilih-desain/" title="Voting desain terbaru">Voting Desain Terbaru</a></li>
  <li><a href="http://www.gantibaju.com/kirim-desainmu/" title="Kirim desainmu">Kirim Desainmu</a></li>
  <li><a href="http://www.gantibaju.com/foto-narsis/" title="Halaman foto narsis">Pojok Narsis</a></li>
  <li><a href="http://www.gantibaju.com/belanja/?upload=foto" title="Upload fotomu memakai kaos gantibaju">Upload Fotomu Ber-gantibaju</a></li>
  <li><a href="http://www.gantibaju.com/top-100-live-ranking/" title="Top-100 live ranking">Top-100 live ranking</a></li>
  <li><a href="http://www.gantibaju.com/tee-talk" title="Komentar-komentar terbaru dari kaos gantibaju">Tee Talk</a></li>
  </ul>
  </div>-->
  <ul class=" menu-top has sf-js-enabled sf-shadow">
    <li>
      <a class="sf-with-ul" href="http://www.gantibaju.com/forum/" title="Komunitas">Komunitas<span class="sf-sub-indicator"> »</span></a>
      <ul style="display: none; visibility: hidden;">
        <li><a href="http://www.gantibaju.com/forum/" title="Wadah Sharing dan belajar Design" target="blank" style="font-size: 18px;">Forum GaBan</a></li>
        <li><a href="http://www.gantibaju.com/blog/" title="Get our all about gaban news" target="blank" style="font-size: 18px;">Gaban Blog</a></li>
        <li><a href="http://www.facebook.com/pages/Gantibajucom/89076804665" title="Gabung di Facebook Gaban yuk!" target="blank" style="font-size: 18px;">Gaban Facebook</a></li>
        <li><a href="http://twitter.com/gantibajudotcom" title="Follow Gaban di Twitter" target="blank" style="font-size: 18px;">Gaban Twitter</a></li>
        <!--<li><a href="http://www.flickr.com/photos/35304998@N07/" title="Flickr" target="blank">Flickr</a></li>-->
        <li><a href="http://gantibaju.deviantart.com/" title="Watch Gaban di DeviantArt" target="blank" style="font-size: 18px;">DevianArt</a></li>
      </ul>
    </li>
  </ul>
  <ul class=" menu-top has sf-js-enabled sf-shadow">
    <li>
      <a class="sf-with-ul" href="http://www.gantibaju.com/tentang-kami/" title="Info">Info<span class="sf-sub-indicator"> »</span></a>
      <ul style="display: none; visibility: hidden;">
        <li><a href="http://www.gantibaju.com/tentang-kami/" title="Apa itu gantibaju.com ?" style="font-size: 18px;">Tentang Kami</a></li>
        <li><a href="http://www.gantibaju.com/cara-berpartisipasi/" title="Cara kirim desain &amp; vote" style="font-size: 18px;">Cara Berpartisipasi</a></li>
        <li><a href="http://www.gantibaju.com/stockist/" title="Temukan koleksi gantibaju.com disini" style="font-size: 18px;">Stockist</a></li>
        <li><a href="http://www.gantibaju.com/wholesale/" title="Tertarik jadi agen gantibaju.com ?" style="font-size: 18px;">Wholesale</a></li>
        <li><a href="http://www.gantibaju.com/kontak-support/" title="Feedback and support" style="font-size: 18px;">Kontak Kami</a></li>
        <li><a href="http://www.gantibaju.com/media-coverage/" title="Liputan tentang gantibaju.com" style="font-size: 18px;">Media Coverage</a></li>

        <!--<li><a href="http://www.gantibaju.com/founders/" title=" Founders">The Founders</a></li>
        <li><a href="http://www.gantibaju.com/faq/" title="F.A.Q.">F.A.Q.</a></li>
        <li><a href="http://www.gantibaju.com/cara-pemesanan/" title="Cara pembelian">Cara Pembelian</a></li>
        <li><a href="http://www.gantibaju.com/shipping-info/" title="Informasi pengiriman">Informasi Pengiriman</a></li>
        <li><a href="http://www.gantibaju.com/ukuran-kaos/" title="Ukuran baju">Panduan Ukuran Kaos</a></li>

<li><a href="http://feeds.feedburner.com/NewDesignAtGantibajucom" title="RSS Design">RSS Design</a></li>
<li><a href="http://www.gantibaju.com/basic-flow/" title="Basic Flow Competition">Basic Flow</a></li>-->
      </ul>
    </li>
  </ul>
<!--<div class="menu-top">
<a href="http://www.gantibaju.com/blog/" title="Blog">Blog</a>
</div>-->

</div><!-- #menu -->