

<div id="right-content">
  <div class="banner banner200">
  </div>

  <div class="kirim-banner" style="cursor:pointer"  
    onclick="window.location='http://www.gantibaju.com/kirim-desainmu/';">

<!--<div class="kirim-middle">

</div>

<div class="kirim-buttons">
<p><a href="formlogin.php" title="Login" class="dash dash1"><span>Login</span></a> <a href="http://www.gantibaju.com/daftar" title="Daftar" class="dash dash1"><span>Daftar</span></a></p>

<p><a id="bacapanduan" href="http://www.gantibaju.com/panduan" title="Baca panduan kontesnya" class="dash dash3"><span>Baca panduan kontesnya  &raquo;</span></a></p>
</div>-->

  </div>

  <div class="separator"></div>

  <h3 class="title" style="font-size: 2.5em;">Top 100 Designer</h3>
  <div style="display: block;position: relative; width: 220px;margin:0 0 20px 20px; height: 200px;">
    <a href="http://www.gantibaju.com/top-100-live-ranking/">
      <%= image_tag "top2.jpg", :width => "210px"%>
      <!-- <img 
     src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/top2.jpg" alt="Top 100 Designer gantibaju" width="210px">  -->
      <br />
    </a>
  </div>

<!--   <div class="separator"></div>
  <h3 class="title" style="font-size: 2.5em;">Forum Gaban</h3>
  <link media="screen" rel="stylesheet" type="text/css" href="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/boxStream.css">
  <div class="boxStreamForum">
    <div class="blok"><img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/new-post.png">  Thread Rekomendasi</div>
    <div class="boxnya">
      <div class="garisShow">
        <a href="http://www.gantibaju.com/artist_page/bykai/10251" title="bykai">
          <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/10251_bykai.jpg" class="avatar-steam-forum" width="30">
        </a>
        <a href="http://www.gantibaju.com/forum/ShowComment/361/Model-cewe-nya-diperbanyak-dongs-">Model cewe nya diperbanyak dongs :)
        </a>
        <br />
        Oleh <a href="http://www.gantibaju.com/artist_page/bykai/10251">bykai </a>
    </div>
    <div style="clear: both;"></div>
    <div class="garisShow">
      <a href="http://www.gantibaju.com/artist_page/Eri-Permana/23638" title="Eri Permana">
        <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/23638_Untitled-1.jpg" class="avatar-steam-forum" width="30">
      </a>
      <a href="http://www.gantibaju.com/forum/ShowComment/674/Gimana-sih-prosedur-submit-desain-dari-awal-sampe-akhir-desain-kita-diterima">Gimana sih prosedur submit desain dari awal sampe akhir desain kita diterima??</a><br>
      Oleh <a href="http://www.gantibaju.com/artist_page/Eri-Permana/23638">Eri Permana</a>
    </div>
    <div style="clear: both;"></div>
    <div class="garisShow">
      <a href="http://www.gantibaju.com/artist_page/Bovie-Sandhi/7989" title="Bovie Sandhi">
        <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/7989_saiko.jpg" class="avatar-steam-forum" width="30">
      </a>
      <a href="http://www.gantibaju.com/forum/ShowComment/680/Gantibajucom-Support-Sport--Kopdar--Pameran--22-23-Oktober-2011-Updated">Gantibaju.com Support Sport + Kopdar + Pameran = 22-23 Oktober 2011 (Updated!)</a><br>
      Oleh <a href="http://www.gantibaju.com/artist_page/Bovie-Sandhi/7989">Bovie Sandhi</a>
    </div>
    <div style="clear: both;"></div>
    <div class="garisShow">
      <a href="http://www.gantibaju.com/artist_page/Rifani-Muhammad-Syaferi/19259" title="Rifani Muhammad Syaferi">
        <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/19259_for%2520gaban.jpg" class="avatar-steam-forum" width="30">
      </a>
      <a href="http://www.gantibaju.com/forum/ShowComment/681/Kakak-share-karyanya-yg-pernah-d-bajak-dong">Kakak share karyanya yg pernah d bajak dong?</a><br>
      Oleh <a href="http://www.gantibaju.com/artist_page/Rifani-Muhammad-Syaferi/19259">Rifani Muhammad</a>
    </div>
    <div style="clear: both;"></div>
    <div class="garisShow">
      <a href="http://www.gantibaju.com/artist_page/Anang-Pradipta/240" title="Anang Pradipta">
        <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/3644a684f98ea8fe223c713b77189a77_240.png" class="avatar-steam-forum" width="30">
      </a>
      <a href="http://www.gantibaju.com/forum/ShowComment/600/Apakah-yang-terjadi-kalau-gw-capek-nge-reject-">Apakah yang terjadi kalau gw capek nge reject ?</a><br>
      Oleh <a href="http://www.gantibaju.com/artist_page/Anang-Pradipta/240">Anang Pradipta</a>
    </div>
    <div style="clear: both;"></div>
  </div>
  <div class="blok"><img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/new-post.png"> Thread Terbaru</div>
  <div class="boxnya">
    <div class="garisShow">
      <a href="http://www.gantibaju.com/artist_page/reyrey78921/6942" title="reyrey78921">
        <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/6942_wewe.jpg" class="avatar-steam-forum" width="30">
      </a>
      <a href="http://www.gantibaju.com/forum/ShowComment/687/vector-stock-sites-review">vector stock sites review</a><br>
      Oleh <a href="http://www.gantibaju.com/artist_page/reyrey78921/6942">reyrey78921 </a>
    </div>
    <div style="clear: both;"></div>
    <div class="garisShow">
      <a href="http://www.gantibaju.com/artist_page/Rifani-Muhammad-Syaferi/19259" title="Rifani Muhammad Syaferi">
        <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/19259_for%2520gaban.jpg" class="avatar-steam-forum" width="30">
      </a>
      <a href="http://www.gantibaju.com/forum/ShowComment/686/Macam-macam-software-graphis">Macam-macam software graphis</a><br>
      Oleh <a href="http://www.gantibaju.com/artist_page/Rifani-Muhammad-Syaferi/19259">Rifani Muhammad</a>
    </div>
    <div style="clear: both;"></div>
    <div class="garisShow">
      <a href="http://www.gantibaju.com/artist_page/Rifani-Muhammad-Syaferi/19259" title="Rifani Muhammad Syaferi">
        <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/19259_for%2520gaban.jpg" class="avatar-steam-forum" width="30">
      </a>
      <a href="http://www.gantibaju.com/forum/ShowComment/685/Design-Jendral-Sudirman-penghuni-gantibajucom">Design Jendral Sudirman penghuni gantibaju.com</a><br>
      Oleh <a href="http://www.gantibaju.com/artist_page/Rifani-Muhammad-Syaferi/19259">Rifani Muhammad</a>
    </div>
    <div style="clear: both;"></div>
    <div class="garisShow">
      <a href="http://www.gantibaju.com/artist_page/ramdhani-nuzul-effendi/24300" title="ramdhani nuzul effendi">
        <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/24300_hehe24.jpg" class="avatar-steam-forum" width="30">
      </a>
      <a href="http://www.gantibaju.com/forum/ShowComment/684/minta-kritik-dan-sarannya-donk-hehehe-buat-agan-master">minta kritik dan sarannya donk.. hehehe buat agan" master...</a><br>
      Oleh <a href="http://www.gantibaju.com/artist_page/ramdhani-nuzul-effendi/24300">ramdhani nuzul</a>
    </div>
    <div style="clear: both;"></div>
    <div class="garisShow">
      <a href="http://www.gantibaju.com/artist_page/Rifani-Muhammad-Syaferi/19259" title="Rifani Muhammad Syaferi">
        <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/19259_for%2520gaban.jpg" class="avatar-steam-forum" width="30">
      </a>
      <a href="http://www.gantibaju.com/forum/ShowComment/683/iSad-Share-pandanganmu-mengenai-Steve-Jobs">iSad, Share pandanganmu mengenai Steve Jobs </a><br>
      Oleh <a href="http://www.gantibaju.com/artist_page/Rifani-Muhammad-Syaferi/19259">Rifani Muhammad</a>
    </div>
    <div style="clear: both;"></div>
  </div>
</div>         -->

<!-- <div class="separator" style="width:235px;"></div>


<div id="narsis-side">
  <a href="http://www.gantibaju.com/pilih-desain/?Archive=999" title="Lihat Semua Arsip"><h3 class="title">Inspirasi Desain</h3></a>

  <div class="desain-lain-side">
    <a href="http://www.gantibaju.com/tees/Shocking-Baloon/799" title="Shocking Baloon">
      <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/37ddcd958ddb70c9930e064325f7d6cc_thumb%2520copy.jpg" alt="Shocking Baloon" height="80" width="100">
    </a>

  </div>

  <div class="desain-lain-side">
    <a href="http://www.gantibaju.com/tees/Semangat-Garuda/1390" title="Semangat Garuda">
      <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/thumb65609214indonesia-2.jpg" alt="Semangat Garuda" height="80" width="100">
    </a>

  </div>

  <div class="desain-lain-side">
    <a href="http://www.gantibaju.com/tees/Koprolsee-What-People-Say/815" title="Koprol_see What People Say">
      <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/01254209fdf5c97e306631a1821d2291_koprol_see-what-people-say.jpg" alt="Koprol_see What People Say" height="80" width="100">
    </a>

  </div>

  <div class="desain-lain-side">
    <a href="http://www.gantibaju.com/tees/Koprolholic/757" title="Koprolholic">
      <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/007622fb0bbc72aeb8cd33ea30b88fb1_koprolholic.jpg" alt="Koprolholic" height="80" width="100">
    </a>

  </div>

  <div class="desain-lain-side">
    <a href="http://www.gantibaju.com/tees/Indonesian-Ninja/4368" title="Indonesian Ninja">
      <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/thumb3928203nininjaan-copy.gif" alt="Indonesian Ninja" height="80" width="100">
    </a>

  </div>

  <div class="desain-lain-side">
    <a href="http://www.gantibaju.com/tees/Terbang-Bersama-Koprol/977" title="Terbang Bersama Koprol">
      <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/thumb_26011828_Copy%2520of%2520200PX.jpg" alt="Terbang Bersama Koprol" height="80" width="100">
    </a>

  </div>
  <div class="clear"></div>
</div> -->

<!-- <div class="separator"></div>

<div id="narsis-side">
  <a href="http://www.gantibaju.com/foto-narsis/" title="Halaman foto narsis"><h3 class="title">Pojok Narsis</h3></a>



  <div class="narsis"><a href="http://www.gantibaju.com/photo-user/?id_photo=162" title="Foto Narsis lagi cari cinta #eeaa :p Oleh : Dwita indri"><img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/cache_bb0123b42a9720cf928638b0720227c0_300720112065.jpg" alt="Foto Narsis lagi cari cinta #eeaa :p oleh Dwita indri"></a></div>



  <div class="narsis"><a href="http://www.gantibaju.com/photo-user/?id_photo=11" title="Foto Narsis Gantibaju rame2 Oleh : Setyagus Sucipto"><img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/cache_0095586db2841e3d16aa69ee059c0fad_palembang.jpg" alt="Foto Narsis Gantibaju rame2 oleh Setyagus Sucipto"></a></div>



  <div class="narsis"><a href="http://www.gantibaju.com/photo-user/?id_photo=96" title="Foto Narsis KAOS MERAH Oleh : DYLOVASTUFF"><img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/cache_c47c9c49106ee59980b63d4491f05cf3_DSCN0665.JPG" alt="Foto Narsis KAOS MERAH oleh DYLOVASTUFF"></a></div>



  <div class="narsis"><a href="http://www.gantibaju.com/photo-user/?id_photo=67" title="Foto Narsis Natal ceria dengan kaos G Oleh : Dian Adi Prasetyo"><img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/cache_8613e61ea568924ca9a87444a70c0374_didut_natal%252520Mediu.jpg" alt="Foto Narsis Natal ceria dengan kaos G oleh Dian Adi Prasetyo"></a></div>



  <div class="narsis"><a href="http://www.gantibaju.com/photo-user/?id_photo=95" title="Foto Narsis ehhmmm,.. Oleh : Rayi Christian Wicaksono"><img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/cache_fd5273ddaabade6aec0d32449a97c9be_IMG_3577aaa.jpg" alt="Foto Narsis ehhmmm,.. oleh Rayi Christian Wicaksono"></a></div>



  <div class="narsis"><a href="http://www.gantibaju.com/photo-user/?id_photo=5" title="Foto Narsis kembar tak serupa Oleh : anggi krisna"><img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/cache_0e9447c6349faa802657184b52ea6e17_40031_419535609665_89.jpg" alt="Foto Narsis kembar tak serupa oleh anggi krisna"></a></div>

  <div class="clear"></div>
</div> -->

<div class="separator"></div>

<div id="newsletter-side">
  <p>Dapetin berita dan promo terbaru dari gantibaju.com langsung di email kamu!</p>

  <form actyour="" photo="" should="" be="" waiting="" an="" approval="" from="" the="" admin,="" to="" show="" on="" galleryion="#">
    <p class="dissolve">
      <label for="newsletter" class="dislabel">email kamu</label>
      <input id="newsletter" class="disinput" type="text">
      <input value="Daftar" onclick="subscribeemail(document.getElementById('newsletter').value); return false;" type="submit">
    </p>
  </form>
</div><!-- #newsletter-side -->





</div><!-- div.content-right -->
<div class="clear"></div>