<div class="clear"></div>

<div class="clearfix">
  <div class="lihat grid_4">
    <a href="http://www.gantibaju.com/belanja/?type=guys" title="Lihat Desain Kaos Cowo" class="dash dash4"><span>lihat kaos cowok aja »</span></a>
  </div>
  <div class="lihat grid_4">
    <a href="http://www.gantibaju.com/belanja/?type=girls" title="Lihat Desain Kaos Cewe" class="dash dash4"><span>lihat kaos cewek aja »</span></a>
  </div>
  <div class="lihat grid_4">
    <a href="http://www.gantibaju.com/belanja" title="Lihat Semua Desain Kaos" class="dash dash4"><span>Lihat semua kaos »</span></a>
  </div>
</div>