
        <div id="left-content">
            <!-- slider begin -->
            <div id="slider" class="container_16 clearfix" style="width: 725px;margin-left: -10px;">
                <a class="next"></a>
            	<div id="slider-wrap">
            		<div style="left: -2880px;" id="slider-inner"><div class="slide grid_16 cloned" itemscope="" itemtype="http://data-vocabulary.org/Product">
									<span style="display: none;" itemprop="brand">gantibaju</span>
									<div class="slide-image">
										<img id="shirt104" itemprop="image" class="imgLarge tee_gl" src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/Girls-Domino-atau-Mati-WHITE-2.jpg" alt="Desain Kaos Domino atau Mati! gantibaju.com" width="712">
										<a href="http://www.gantibaju.com/tshirt/Domino-atau-Mati/104" title="Lihat detail" class="zoom">Lihat detail</a>
									</div>
									<div class="slide-desc" itemprop="category" content="Kaos / Tshirt">
										<h3><a href="http://www.gantibaju.com/tshirt/Domino-atau-Mati/104" title="Desain Kaos Domino atau Mati! gantibaju.com" itemprop="name">
											Domino atau Mati!</a>
										</h3>
										<p>oleh <a href="http://www.gantibaju.com/artist_page/Luthfi-Hadi-Abdullah/7834"><strong>Luthfi Hadi Abdullah</strong></a></p>
										<div class="slide-price" itemscope="" itemtype="http://data-vocabulary.org/Offer">
											<meta itemprop="currency" content="IDR">				
											IDR. <span itemprop="price">150.000</span>
										</div>
									</div>
								</div>
																					<div class="slide grid_16">
									<div class="slide-image">
										<img id="banner7" class="imgLarge tee_gl" src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/f59cbf3a697beb04f739b934d255efc2_pengumuman-ika.jpg" alt="Indonesia Rumah Kita Winner" width="712">
										<a style="display: none;" href="http://www.gantibaju.com/banner.php?action=view&amp;id=7" onclick="setClickCount(7);" title="Lihat detail" class="zoom">Lihat detail</a>
									</div>
									<div class="slide-desc">
										<h3><a href="http://www.gantibaju.com/blog/?p=2213">Indonesia Rumah Kita Winner</a>
										</h3>
										<p></p>
										<div class="slide-price"></div>
									</div>
								</div><!-- .slide -->

																																										<div class="slide grid_16" itemscope="" itemtype="http://data-vocabulary.org/Product">
									<span style="display:none;" itemprop="brand">gantibaju</span>
									<div class="slide-image">
										<img id="shirt121" itemprop="image" class="imgLarge tee_gl" src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/Guys-Garuda-Kecil-BROWN-2.jpg" alt="Desain Kaos Garuda Kecil gantibaju.com" width="712">
										<a href="http://www.gantibaju.com/tshirt/Garuda-Kecil/121" title="Lihat detail" class="zoom">Lihat detail</a>
									</div>
									<div class="slide-desc" itemprop="category" content="Kaos / Tshirt">
										<h3><a href="http://www.gantibaju.com/tshirt/Garuda-Kecil/121" title="Desain Kaos Garuda Kecil gantibaju.com" itemprop="name">
											Garuda Kecil</a>
										</h3>
										<p>oleh <a href="http://www.gantibaju.com/Profile/ndikol"><strong>adhika rahmani</strong></a></p>
										<div class="slide-price" itemscope="" itemtype="http://data-vocabulary.org/Offer">
											<meta itemprop="currency" content="IDR">				
											IDR. <span itemprop="price">120.000</span>
										</div>
									</div>
								</div><!-- .slide -->
																															<div class="slide grid_16" itemscope="" itemtype="http://data-vocabulary.org/Product">
									<span style="display:none;" itemprop="brand">gantibaju</span>
									<div class="slide-image">
										<img id="shirt120" itemprop="image" class="imgLarge tee_gl" src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/Girls-Angklung-Cewek-BLUE-2.jpg" alt="Desain Kaos Angklung Cewek gantibaju.com" width="712">
										<a href="http://www.gantibaju.com/tshirt/Angklung-Cewek/120" title="Lihat detail" class="zoom">Lihat detail</a>
									</div>
									<div class="slide-desc" itemprop="category" content="Kaos / Tshirt">
										<h3><a href="http://www.gantibaju.com/tshirt/Angklung-Cewek/120" title="Desain Kaos Angklung Cewek gantibaju.com" itemprop="name">
											Angklung Cewek</a>
										</h3>
										<p>oleh <a href="http://www.gantibaju.com/Profile/dreameric"><strong>Erix Yunanto</strong></a></p>
										<div class="slide-price" itemscope="" itemtype="http://data-vocabulary.org/Offer">
											<meta itemprop="currency" content="IDR">				
											IDR. <span itemprop="price">120.000</span>
										</div>
									</div>
								</div><!-- .slide -->
																															<div class="slide grid_16" itemscope="" itemtype="http://data-vocabulary.org/Product">
									<span style="display:none;" itemprop="brand">gantibaju</span>
									<div class="slide-image">
										<img id="shirt111" itemprop="image" class="imgLarge tee_gl" src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/Guys-Sumpah-Pocong-BLUE-2.jpg" alt="Desain Kaos Sumpah Pocong gantibaju.com" width="712">
										<a href="http://www.gantibaju.com/tshirt/Sumpah-Pocong/111" title="Lihat detail" class="zoom">Lihat detail</a>
									</div>
									<div class="slide-desc" itemprop="category" content="Kaos / Tshirt">
										<h3><a href="http://www.gantibaju.com/tshirt/Sumpah-Pocong/111" title="Desain Kaos Sumpah Pocong gantibaju.com" itemprop="name">
											Sumpah Pocong</a>
										</h3>
										<p>oleh <a href="http://www.gantibaju.com/Profile/ganjarelex"><strong>Ganjar Darmayekti</strong></a></p>
										<div class="slide-price" itemscope="" itemtype="http://data-vocabulary.org/Offer">
											<meta itemprop="currency" content="IDR">				
											IDR. <span itemprop="price">120.000</span>
										</div>
									</div>
								</div><!-- .slide -->
																															<div class="slide grid_16" itemscope="" itemtype="http://data-vocabulary.org/Product">
									<span style="display:none;" itemprop="brand">gantibaju</span>
									<div class="slide-image">
										<img id="shirt110" itemprop="image" class="imgLarge tee_gl" src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/Guys-Bom-Waktu-2.jpg" alt="Desain Kaos Bom Waktu gantibaju.com" width="712">
										<a href="http://www.gantibaju.com/tshirt/Bom-Waktu/110" title="Lihat detail" class="zoom">Lihat detail</a>
									</div>
									<div class="slide-desc" itemprop="category" content="Kaos / Tshirt">
										<h3><a href="http://www.gantibaju.com/tshirt/Bom-Waktu/110" title="Desain Kaos Bom Waktu gantibaju.com" itemprop="name">
											Bom Waktu</a>
										</h3>
										<p>oleh <a href="http://www.gantibaju.com/Profile/emberplastik"><strong>emberplastik</strong></a></p>
										<div class="slide-price" itemscope="" itemtype="http://data-vocabulary.org/Offer">
											<meta itemprop="currency" content="IDR">				
											IDR. <span itemprop="price">120.000</span>
										</div>
									</div>
								</div><!-- .slide -->
																															<div class="slide grid_16" itemscope="" itemtype="http://data-vocabulary.org/Product">
									<span style="display:none;" itemprop="brand">gantibaju</span>
									<div class="slide-image">
										<img id="shirt104" itemprop="image" class="imgLarge tee_gl" src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/Girls-Domino-atau-Mati-WHITE-2.jpg" alt="Desain Kaos Domino atau Mati! gantibaju.com" width="712">
										<a href="http://www.gantibaju.com/tshirt/Domino-atau-Mati/104" title="Lihat detail" class="zoom">Lihat detail</a>
									</div>
									<div class="slide-desc" itemprop="category" content="Kaos / Tshirt">
										<h3><a href="http://www.gantibaju.com/tshirt/Domino-atau-Mati/104" title="Desain Kaos Domino atau Mati! gantibaju.com" itemprop="name">
											Domino atau Mati!</a>
										</h3>
										<p>oleh <a href="http://www.gantibaju.com/artist_page/Luthfi-Hadi-Abdullah/7834"><strong>Luthfi Hadi Abdullah</strong></a></p>
										<div class="slide-price" itemscope="" itemtype="http://data-vocabulary.org/Offer">
											<meta itemprop="currency" content="IDR">				
											IDR. <span itemprop="price">150.000</span>
										</div>
									</div>
								</div><!-- .slide -->
																											


            		<div class="slide grid_16 cloned">
									<div class="slide-image">
										<img id="banner7" class="imgLarge tee_gl" src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/f59cbf3a697beb04f739b934d255efc2_pengumuman-ika.jpg" alt="Indonesia Rumah Kita Winner" width="712">
										<a href="http://www.gantibaju.com/banner.php?action=view&amp;id=7" onclick="setClickCount(7);" title="Lihat detail" class="zoom">Lihat detail</a>
									</div>
									<div class="slide-desc">
										<h3><a href="http://www.gantibaju.com/blog/?p=2213">Indonesia Rumah Kita Winner</a>
										</h3>
										<p></p>
										<div class="slide-price"></div>
									</div>
								</div></div>
            	</div><!-- #slider-wrap -->
	            <a class="prev"></a>
	            <div class="navi"><a class="" href="#0"></a><a class="" href="#1"></a><a class="active" href="#2"></a><a href="#3"></a><a href="#4"></a><a href="#5"></a></div>
            </div><!-- #slider -->
            <div class="clear"></div>

            <!-- slider end-->




                        <div class="separator"></div>
            <h2 id="recommend">Pilihan Terbaru <a href="http://www.gantibaju.com/belanja" title="Lihat semua kaos" class="dash dash3"><span>Lihat semua kaos »</span></a></h2>

                                                    <div style="height: 346px;" class="kaos grid_4" itemscope="" itemtype="http://data-vocabulary.org/Product">
                <div class="kaos-image">
			<span style="display:none;" itemprop="brand">gantibaju</span>
                                        <img itemprop="image" id="shirt85" class="imgLarge tee_gl" src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/73fb176f50e9329db8aaa2882c00518d_220x300.jpg" alt="Desain Kaos Mas Bagong gantibaju.com" height="300" width="220">

                        <div class="kaos-price" itemscope="" itemtype="http://data-vocabulary.org/Offer">
				<meta itemprop="currency" content="IDR">				
				Rp. <span itemprop="price">150.000</span>
			</div>
			 
                                                    <div class="badge badge-new">New</div>
                        
                        <a href="http://www.gantibaju.com/tshirt/Mas-Bagong/85" title="Kaos Mas Bagong gantibaju.com">Mas Bagong</a>
                </div>
                <div class="kaos-desc" itemprop="category" content="Kaos / Tshirt">
                        <h3><a href="http://www.gantibaju.com/tshirt/Mas-Bagong/85" title="Desain Kaos Mas Bagong gantibaju.com" itemprop="name">Mas Bagong</a></h3>
                        <p><span>oleh</span> <a href="http://www.gantibaju.com/artist_page/noor-van-anwar/2903" title="Profile noor van anwar Designer gantibaju.com">noor van anwar</a></p>
                </div>
        </div>
                                                                                                <div style="height: 346px;" class="kaos grid_4" itemscope="" itemtype="http://data-vocabulary.org/Product">
                <div class="kaos-image">
			<span style="display:none;" itemprop="brand">gantibaju</span>
                                        <img itemprop="image" id="shirt91" class="imgLarge tee_gl" src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/a7bece0884a4a292aace6a8e4c2b3be6_220x300.jpg" alt="Desain Kaos Tipe Pekerja Keras gantibaju.com" height="300" width="220">

                        <div class="kaos-price" itemscope="" itemtype="http://data-vocabulary.org/Offer">
				<meta itemprop="currency" content="IDR">				
				Rp. <span itemprop="price">85.000</span>
			</div>
			 
                                                    <div class="badge badge-new">New</div>
                        
                        <a href="http://www.gantibaju.com/tshirt/Tipe-Pekerja-Keras/91" title="Kaos Tipe Pekerja Keras gantibaju.com">Tipe Pekerja Keras</a>
                </div>
                <div class="kaos-desc" itemprop="category" content="Kaos / Tshirt">
                        <h3><a href="http://www.gantibaju.com/tshirt/Tipe-Pekerja-Keras/91" title="Desain Kaos Tipe Pekerja Keras gantibaju.com" itemprop="name">Tipe Pekerja Keras</a></h3>
                        <p><span>oleh</span> <a href="http://www.gantibaju.com/Profile/DarthRama" title="Profile Rama Dhani Designer gantibaju.com">Rama Dhani</a></p>
                </div>
        </div>
                                                                                                <div style="height: 346px;" class="kaos grid_4" itemscope="" itemtype="http://data-vocabulary.org/Product">
                <div class="kaos-image">
			<span style="display:none;" itemprop="brand">gantibaju</span>
                                        <img itemprop="image" id="shirt117" class="imgLarge tee_gl" src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/Guys-Sumpah-Pocong-Cewe-1.jpg" alt="Desain Kaos Sumpah Pocong Cewek gantibaju.com" height="300" width="220">

                        <div class="kaos-price" itemscope="" itemtype="http://data-vocabulary.org/Offer">
				<meta itemprop="currency" content="IDR">				
				Rp. <span itemprop="price">120.000</span>
			</div>
			 
                                                    <div class="badge badge-new">New</div>
                        
                        <a href="http://www.gantibaju.com/tshirt/Sumpah-Pocong-Cewek/117" title="Kaos Sumpah Pocong Cewek gantibaju.com">Sumpah Pocong Cewek</a>
                </div>
                <div class="kaos-desc" itemprop="category" content="Kaos / Tshirt">
                        <h3><a href="http://www.gantibaju.com/tshirt/Sumpah-Pocong-Cewek/117" title="Desain Kaos Sumpah Pocong Cewek gantibaju.com" itemprop="name">Sumpah Pocong Cewek</a></h3>
                        <p><span>oleh</span> <a href="http://www.gantibaju.com/Profile/ganjarelex" title="Profile Ganjar Darmayekti Designer gantibaju.com">Ganjar Darmayekti</a></p>
                </div>
        </div>
                                                                                    
                                                    <div style="height: 346px;" class="kaos grid_4" itemscope="" itemtype="http://data-vocabulary.org/Product">
                <div class="kaos-image">
			<span style="display:none;" itemprop="brand">gantibaju</span>
                                        <img itemprop="image" id="shirt44" class="imgLarge tee_gl" src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/59c9fd87c3be1f9354d54760305f5429_iloveindo-thumb2.jpg" alt="Desain Kaos I Love Indonesia Cewe gantibaju.com" height="300" width="220">

                        <div class="kaos-price" itemscope="" itemtype="http://data-vocabulary.org/Offer">
				<meta itemprop="currency" content="IDR">				
				Rp. <span itemprop="price">120.000</span>
			</div>
			 
                                                    <div class="badge badge-fewleft">FewLeft</div>
                        
                        <a href="http://www.gantibaju.com/tshirt/I-Love-Indonesia-Cewe/44" title="Kaos I Love Indonesia Cewe gantibaju.com">I Love Indonesia Cewe</a>
                </div>
                <div class="kaos-desc" itemprop="category" content="Kaos / Tshirt">
                        <h3><a href="http://www.gantibaju.com/tshirt/I-Love-Indonesia-Cewe/44" title="Desain Kaos I Love Indonesia Cewe gantibaju.com" itemprop="name">I Love Indonesia Cewe</a></h3>
                        <p><span>oleh</span> <a href="http://www.gantibaju.com/Profile/inumocca" title="Profile inumocca Designer gantibaju.com">inumocca</a></p>
                </div>
        </div>
                                                                                                <div style="height: 346px;" class="kaos grid_4" itemscope="" itemtype="http://data-vocabulary.org/Product">
                <div class="kaos-image">
			<span style="display:none;" itemprop="brand">gantibaju</span>
                                        <img itemprop="image" id="shirt28" class="imgLarge tee_gl" src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/7d74aeaeb7f1988bfa037e4fe5e960d9_ing-thumb2.jpg" alt="Desain Kaos Ing Ngayogyakarto gantibaju.com" height="300" width="220">

                        <div class="kaos-price" itemscope="" itemtype="http://data-vocabulary.org/Offer">
				<meta itemprop="currency" content="IDR">				
				Rp. <span itemprop="price">60.000</span>
			</div>
			 
                                                    <div class="badge badge-sale">OnSale</div>

                        
                        <a href="http://www.gantibaju.com/tshirt/Ing-Ngayogyakarto/28" title="Kaos Ing Ngayogyakarto gantibaju.com">Ing Ngayogyakarto</a>
                </div>
                <div class="kaos-desc" itemprop="category" content="Kaos / Tshirt">
                        <h3><a href="http://www.gantibaju.com/tshirt/Ing-Ngayogyakarto/28" title="Desain Kaos Ing Ngayogyakarto gantibaju.com" itemprop="name">Ing Ngayogyakarto</a></h3>
                        <p><span>oleh</span> <a href="http://www.gantibaju.com/Profile/mumolabs" title="Profile Rayi Christian Wicaksono Designer gantibaju.com">Rayi Christian Wicaksono</a></p>
                </div>
        </div>
                                                                                                <div style="height: 346px;" class="kaos grid_4" itemscope="" itemtype="http://data-vocabulary.org/Product">
                <div class="kaos-image">
			<span style="display:none;" itemprop="brand">gantibaju</span>
                                        <img itemprop="image" id="shirt35" class="imgLarge tee_gl" src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/620f99f94916f9adc346ec8e537d6d66_koprolria-thumb.jpg" alt="Desain Kaos Ber-koprol Ria Cewe gantibaju.com" height="300" width="220">

                        <div class="kaos-price" itemscope="" itemtype="http://data-vocabulary.org/Offer">
				<meta itemprop="currency" content="IDR">				
				Rp. <span itemprop="price">59.500</span>
			</div>
			 
                                                    <div class="badge badge-fewleft">FewLeft</div>
                        
                        <a href="http://www.gantibaju.com/tshirt/Ber-koprol-Ria-Cewe/35" title="Kaos Ber-koprol Ria Cewe gantibaju.com">Ber-koprol Ria Cewe</a>
                </div>
                <div class="kaos-desc" itemprop="category" content="Kaos / Tshirt">
                        <h3><a href="http://www.gantibaju.com/tshirt/Ber-koprol-Ria-Cewe/35" title="Desain Kaos Ber-koprol Ria Cewe gantibaju.com" itemprop="name">Ber-koprol Ria Cewe</a></h3>
                        <p><span>oleh</span> <a href="http://www.gantibaju.com/artist_page/taurus-boy/3613" title="Profile taurus boy Designer gantibaju.com">taurus boy</a></p>
                </div>
        </div>
                                                                                                <div style="height: 346px;" class="kaos grid_4" itemscope="" itemtype="http://data-vocabulary.org/Product">
                <div class="kaos-image">
			<span style="display:none;" itemprop="brand">gantibaju</span>
                                        <img itemprop="image" id="shirt77" class="imgLarge tee_gl" src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/88b09000590da745c39b3f59e8b13229_220x300.jpg" alt="Desain Kaos Impian gantibaju.com" height="300" width="220">

                        <div class="kaos-price" itemscope="" itemtype="http://data-vocabulary.org/Offer">
				<meta itemprop="currency" content="IDR">				
				Rp. <span itemprop="price">180.000</span>
			</div>
			 
                                                    <div class="badge badge-fewleft">FewLeft</div>
                        
                        <a href="http://www.gantibaju.com/tshirt/Impian/77" title="Kaos Impian gantibaju.com">Impian</a>
                </div>
                <div class="kaos-desc" itemprop="category" content="Kaos / Tshirt">
                        <h3><a href="http://www.gantibaju.com/tshirt/Impian/77" title="Desain Kaos Impian gantibaju.com" itemprop="name">Impian</a></h3>
                        <p><span>oleh</span> <a href="http://www.gantibaju.com/Profile/equivalent" title="Profile Eky Jiwo Primanto Putra Designer gantibaju.com">Eky Jiwo Primanto Putra</a></p>
                </div>
        </div>
                                                                                                <div style="height: 346px;" class="kaos grid_4" itemscope="" itemtype="http://data-vocabulary.org/Product">
                <div class="kaos-image">
			<span style="display:none;" itemprop="brand">gantibaju</span>
                                        <img itemprop="image" id="shirt38" src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/1d2d53603484ab0d3921924e5d685d48_renggut-thumb.jpg" alt="Desain Kaos Renggut Kemerdekaan gantibaju.com" height="300" width="220">

                        <div class="kaos-price" itemscope="" itemtype="http://data-vocabulary.org/Offer">
				<meta itemprop="currency" content="IDR">				
				Rp. <span itemprop="price">150.000</span>
			</div>
			 
                        
                        <a href="http://www.gantibaju.com/tshirt/Renggut-Kemerdekaan/38" title="Kaos Renggut Kemerdekaan gantibaju.com">Renggut Kemerdekaan</a>
                </div>
                <div class="kaos-desc" itemprop="category" content="Kaos / Tshirt">
                        <h3><a href="http://www.gantibaju.com/tshirt/Renggut-Kemerdekaan/38" title="Desain Kaos Renggut Kemerdekaan gantibaju.com" itemprop="name">Renggut Kemerdekaan</a></h3>
                        <p><span>oleh</span> <a href="http://www.gantibaju.com/Profile/iwanrmpl" title="Profile rahmat kurniawan Designer gantibaju.com">rahmat kurniawan</a></p>
                </div>
        </div>
                                                                                                <div style="height: 346px;" class="kaos grid_4" itemscope="" itemtype="http://data-vocabulary.org/Product">
                <div class="kaos-image">
			<span style="display:none;" itemprop="brand">gantibaju</span>
                                        <img itemprop="image" id="shirt69" class="imgLarge tee_gl" src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/945f392b8b23fb9361c008e003706601_220x300.jpg" alt="Desain Kaos Macet Lagi Cewe gantibaju.com" height="300" width="220">

                        <div class="kaos-price" itemscope="" itemtype="http://data-vocabulary.org/Offer">
				<meta itemprop="currency" content="IDR">				
				Rp. <span itemprop="price">120.000</span>
			</div>
			 
                                                    <div class="badge badge-ladies">Ladies</div>
                        
                        <a href="http://www.gantibaju.com/tshirt/Macet-Lagi-Cewe/69" title="Kaos Macet Lagi Cewe gantibaju.com">Macet Lagi Cewe</a>
                </div>
                <div class="kaos-desc" itemprop="category" content="Kaos / Tshirt">
                        <h3><a href="http://www.gantibaju.com/tshirt/Macet-Lagi-Cewe/69" title="Desain Kaos Macet Lagi Cewe gantibaju.com" itemprop="name">Macet Lagi Cewe</a></h3>
                        <p><span>oleh</span> <a href="http://www.gantibaju.com/Profile/emberplastik" title="Profile emberplastik Designer gantibaju.com">emberplastik</a></p>
                </div>
        </div>
                                                                
                        <div class="clear"></div>

                        <div class="clearfix">
                <div class="lihat grid_4">
                        <a href="http://www.gantibaju.com/belanja/?type=guys" title="Lihat Desain Kaos Cowo" class="dash dash4"><span>lihat kaos cowok aja »</span></a>
                </div>
                <div class="lihat grid_4">
                        <a href="http://www.gantibaju.com/belanja/?type=girls" title="Lihat Desain Kaos Cewe" class="dash dash4"><span>lihat kaos cewek aja »</span></a>
                </div>
                <div class="lihat grid_4">
                        <a href="http://www.gantibaju.com/belanja" title="Lihat Semua Desain Kaos" class="dash dash4"><span>Lihat semua kaos »</span></a>
                </div>
        </div>

        <div class="separator"></div>

        <h2 id="voting">Voting Desain Terbaru</h2>
                                                                                                                          <div class="" style="display: block;">
                                            <div class="designfront-image">
                                                        <a href="http://www.gantibaju.com/tees/Tari-Merak/6018" title="Desain Kaos Tari Merak  di gantibaju.com oleh Dionisius Sundoro ">
                                                            <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/thumb239788631Tari-Merak-thumb.jpg" alt="Desain Kaos Tari Merak " title="Desain Kaos Tari Merak  di gantibaju.com oleh Dionisius Sundoro " width="120">
                                                        </a>
                                                        <!--<div class="designFront-votes"> Votes</div>-->
                                                </div>
                                                <div class="designfront">
                                                    <h3><a href="http://www.gantibaju.com/tees/Tari-Merak/6018" title="Desain Kaos Tari Merak  di gantibaju.com oleh Dionisius Sundoro " style="color: rgb(50, 58, 71);">Tari Merak </a></h3>
                                                        
                                                    <p><span style="font:italic 1em/1 Georgia,'Times New Roman',Times,serif">oleh</span> <a href="http://www.gantibaju.com/Profile/diosundoro" title="Profile Dionisius Sundoro Designer gantibaju.com">Dionisius Sundoro</a>, dapat di-vote sampai <span style="font:italic 1em/1 Georgia,'Times New Roman',Times,serif">25 Oct 2011</span></p>
                                                    <p>Tari Merak adalah
 tari yang sudah sangat terkenal di masyarakat Sunda. Keindahan dan 
kelincahan tari khas Sunda ini terlihat lebih dinamis d ...</p>
                                                                                                                <div class="commentDesignFront"><!--<h3>Komentar Terakhir :</h3>-->
                                                            <div style="position: relative;">
                                                                <a href="http://www.gantibaju.com/artist_page/cuss-pahing/19283" title="">
                                                                    <strong>cuss pahing</strong>
								</a>  berkomentar pada desain ini :
                                                             </div>
                                                            <div class="comment-desc" style="width:380px">
                                                                    <p>waw.. drawingnya keren.. coba klo dikasih warna.. pasti lebih gilak...:D</p>
                                                            
                                                            </div>
                                                        </div>
                                                        							<div class="clear">
                                            
                                                        </div>
                                                        <div class="commentDesignFront"><span class="voteAccFront" title="18 Votes">18 </span><span class="commentAccFront" title="16 Comment">16</span></div>
                                                </div>
                                        </div>
                                        <div class="clear">
                                            
                                        </div>
                                        <hr style="color: silver;">
                                                                                                  <div class="" style="display: block;">
                                            <div class="designfront-image">
                                                        <a href="http://www.gantibaju.com/tees/Pocong-Juga-Manusia/6015" title="Desain Kaos Pocong Juga Manusia di gantibaju.com oleh Frans ">
                                                            <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/thumb243345588pocongengklekthumb.jpg" alt="Desain Kaos Pocong Juga Manusia" title="Desain Kaos Pocong Juga Manusia di gantibaju.com oleh Frans " width="120">
                                                        </a>
                                                        <!--<div class="designFront-votes"> Votes</div>-->
                                                </div>
                                                <div class="designfront">
                                                    <h3><a href="http://www.gantibaju.com/tees/Pocong-Juga-Manusia/6015" title="Desain Kaos Pocong Juga Manusia di gantibaju.com oleh Frans " style="color: rgb(50, 58, 71);">Pocong Juga Manusia</a></h3>
                                                        
                                                    <p><span style="font:italic 1em/1 Georgia,'Times New Roman',Times,serif">oleh</span> <a href="http://www.gantibaju.com/Profile/flyc" title="Profile Frans Designer gantibaju.com">Frans</a>, dapat di-vote sampai <span style="font:italic 1em/1 Georgia,'Times New Roman',Times,serif">24 Oct 2011</span></p>
                                                    <p>Semua manusia butuh refreshing, nggak terkecuali si Pocong.  *6 warna di atas khaki. ...</p>
                                                                                                                <div class="commentDesignFront"><!--<h3>Komentar Terakhir :</h3>-->
                                                            <div style="position: relative;">
                                                                <a href="http://www.gantibaju.com/artist_page/cuss-pahing/19283" title="">
                                                                    <strong>cuss pahing</strong>
								</a>  berkomentar pada desain ini :
                                                             </div>
                                                            <div class="comment-desc" style="width:380px">
                                                                    <p>suka ama stylenya.. so simple so nice... MAX*5</p>
                                                            
                                                            </div>
                                                        </div>
                                                        							<div class="clear">
                                            
                                                        </div>
                                                        <div class="commentDesignFront"><span class="voteAccFront" title="25 Votes">25 </span><span class="commentAccFront" title="33 Comment">33</span></div>
                                                </div>
                                        </div>
                                        <div class="clear">
                                            
                                        </div>
                                        <hr style="color: silver;">
                                                                                                  <div class="" style="display: block;">
                                            <div class="designfront-image">
                                                        <a href="http://www.gantibaju.com/tees/Ngesot/6008" title="Desain Kaos Ngesot... di gantibaju.com oleh Frans ">
                                                            <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/thumb243342140susterngesotthumb.jpg" alt="Desain Kaos Ngesot..." title="Desain Kaos Ngesot... di gantibaju.com oleh Frans " width="120">
                                                        </a>
                                                        <!--<div class="designFront-votes"> Votes</div>-->
                                                </div>
                                                <div class="designfront">
                                                    <h3><a href="http://www.gantibaju.com/tees/Ngesot/6008" title="Desain Kaos Ngesot... di gantibaju.com oleh Frans " style="color: rgb(50, 58, 71);">Ngesot...</a></h3>
                                                        
                                                    <p><span style="font:italic 1em/1 Georgia,'Times New Roman',Times,serif">oleh</span> <a href="http://www.gantibaju.com/Profile/flyc" title="Profile Frans Designer gantibaju.com">Frans</a>, dapat di-vote sampai <span style="font:italic 1em/1 Georgia,'Times New Roman',Times,serif">23 Oct 2011</span></p>
                                                    <p>Suster Ngesot, versi imut... :-) ...</p>
                                                                                                                <div class="commentDesignFront"><!--<h3>Komentar Terakhir :</h3>-->
                                                            <div style="position: relative;">
                                                                <a href="http://www.gantibaju.com/artist_page/Frans/24334" title="">
                                                                    <strong>Frans</strong>
								</a>  berkomentar pada desain ini :
                                                             </div>
                                                            <div class="comment-desc" style="width:380px">
                                                                    <p>Yap, sebenernya ini gambar iseng yang gue bikin beberapa bulan lalu. Kemaren2 iseng coba submit di m</p>
                                                            
                                                            </div>
                                                        </div>
                                                        							<div class="clear">
                                            
                                                        </div>
                                                        <div class="commentDesignFront"><span class="voteAccFront" title="18 Votes">18 </span><span class="commentAccFront" title="23 Comment">23</span></div>
                                                </div>
                                        </div>
                                        <div class="clear">
                                            
                                        </div>
                                        <hr style="color: silver;">
                                                                                                  <div class="" style="display: block;">
                                            <div class="designfront-image">
                                                        <a href="http://www.gantibaju.com/tees/Save-Orangutan/6004" title="Desain Kaos Save Orangutan di gantibaju.com oleh ramdhani nuzul effendi ">
                                                            <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/thumb2430063755.jpg" alt="Desain Kaos Save Orangutan" title="Desain Kaos Save Orangutan di gantibaju.com oleh ramdhani nuzul effendi " width="120">
                                                        </a>
                                                        <!--<div class="designFront-votes"> Votes</div>-->
                                                </div>
                                                <div class="designfront">
                                                    <h3><a href="http://www.gantibaju.com/tees/Save-Orangutan/6004" title="Desain Kaos Save Orangutan di gantibaju.com oleh ramdhani nuzul effendi " style="color: rgb(50, 58, 71);">Save Orangutan</a></h3>
                                                        
                                                    <p><span style="font:italic 1em/1 Georgia,'Times New Roman',Times,serif">oleh</span> <a href="http://www.gantibaju.com/Profile/danzamdan" title="Profile ramdhani nuzul effendi Designer gantibaju.com">ramdhani nuzul effendi</a>, dapat di-vote sampai <span style="font:italic 1em/1 Georgia,'Times New Roman',Times,serif">22 Oct 2011</span></p>
                                                    <p>indonesia 
mempunyai beberapa hewan yang hapir punah salah satunya orang utan.. 
maka kita harus selamtkan org hutan dari kepunahan.. ...</p>
                                                                                                                <div class="commentDesignFront"><!--<h3>Komentar Terakhir :</h3>-->
                                                            <div style="position: relative;">
                                                                <a href="http://www.gantibaju.com/artist_page/ramdhani-nuzul-effendi/24300" title="">
                                                                    <strong>ramdhani nuzul effendi</strong>
								</a>  berkomentar pada desain ini :
                                                             </div>
                                                            <div class="comment-desc" style="width:380px">
                                                                    <p>thx.. padahal lagi iseng     aja nich hehe ^_^</p>
                                                            
                                                            </div>
                                                        </div>
                                                        							<div class="clear">
                                            
                                                        </div>
                                                        <div class="commentDesignFront"><span class="voteAccFront" title="9 Votes">9 </span><span class="commentAccFront" title="10 Comment">10</span></div>
                                                </div>
                                        </div>
                                        <div class="clear">
                                            
                                        </div>
                                        <hr style="color: silver;">
                                                                                                  <div class="" style="display: block;">
                                            <div class="designfront-image">
                                                        <a href="http://www.gantibaju.com/tees/Kangen-Home/5974" title="Desain Kaos Kangen Home di gantibaju.com oleh triwi ">
                                                            <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/thumb108797425Kangen-Home-200px-1.jpg" alt="Desain Kaos Kangen Home" title="Desain Kaos Kangen Home di gantibaju.com oleh triwi " width="120">
                                                        </a>
                                                        <!--<div class="designFront-votes"> Votes</div>-->
                                                </div>
                                                <div class="designfront">
                                                    <h3><a href="http://www.gantibaju.com/tees/Kangen-Home/5974" title="Desain Kaos Kangen Home di gantibaju.com oleh triwi " style="color: rgb(50, 58, 71);">Kangen Home</a></h3>
                                                        
                                                    <p><span style="font:italic 1em/1 Georgia,'Times New Roman',Times,serif">oleh</span> <a href="http://www.gantibaju.com/Profile/Wicaks" title="Profile triwi Designer gantibaju.com">triwi</a>, dapat di-vote sampai <span style="font:italic 1em/1 Georgia,'Times New Roman',Times,serif">05 Oct 2011</span></p>
                                                    <p>Indonesia! aku kangen home ...</p>
                                                                                                                <div class="commentDesignFront"><!--<h3>Komentar Terakhir :</h3>-->
                                                            <div style="position: relative;">
                                                                <a href="http://www.gantibaju.com/artist_page/manzur-ghozaali/16011" title="">
                                                                    <strong>manzur ghozaali</strong>
								</a>  berkomentar pada desain ini :
                                                             </div>
                                                            <div class="comment-desc" style="width:380px">
                                                                    <p>pas banget warnanya dengan implementasinya pada kaos warna putih</p>
                                                            
                                                            </div>
                                                        </div>
                                                        							<div class="clear">
                                            
                                                        </div>
                                                        <div class="commentDesignFront"><span class="voteAccFront" title="37 Votes">37 </span><span class="commentAccFront" title="29 Comment">29</span></div>
                                                </div>
                                        </div>
                                        <div class="clear">
                                            
                                        </div>
                                        <hr style="color: silver;">
                                                                                                  <div class="" style="display: block;">
                                            <div class="designfront-image">
                                                        <a href="http://www.gantibaju.com/tees/Indonesia-Rumah-Kita/5972" title="Desain Kaos Indonesia Rumah Kita di gantibaju.com oleh Shandy Ardiansyah ">
                                                            <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/thumb180556780thumbnail.jpg" alt="Desain Kaos Indonesia Rumah Kita" title="Desain Kaos Indonesia Rumah Kita di gantibaju.com oleh Shandy Ardiansyah " width="120">
                                                        </a>
                                                        <!--<div class="designFront-votes"> Votes</div>-->
                                                </div>
                                                <div class="designfront">
                                                    <h3><a href="http://www.gantibaju.com/tees/Indonesia-Rumah-Kita/5972" title="Desain Kaos Indonesia Rumah Kita di gantibaju.com oleh Shandy Ardiansyah " style="color: rgb(50, 58, 71);">Indonesia Rumah Kita</a></h3>
                                                        
                                                    <p><span style="font:italic 1em/1 Georgia,'Times New Roman',Times,serif">oleh</span> <a href="http://www.gantibaju.com/Profile/shandya" title="Profile Shandy Ardiansyah Designer gantibaju.com">Shandy Ardiansyah</a>, dapat di-vote sampai <span style="font:italic 1em/1 Georgia,'Times New Roman',Times,serif">05 Oct 2011</span></p>
                                                    <p></p><p>Seorang 
gadis membentuk pose sebuah rumah dengan kedua tangannya dengan ceria.  
   Oh, ini lah rumahku. Indonesia.     detail: http://bit ...</p>
                                                                                                                <div class="commentDesignFront"><!--<h3>Komentar Terakhir :</h3>-->
                                                            <div style="position: relative;">
                                                                <a href="http://www.gantibaju.com/artist_page/Aditya-Sapta-Aji/14979" title="">
                                                                    <strong>Aditya Sapta Aji</strong>
								</a>  berkomentar pada desain ini :
                                                             </div>
                                                            <div class="comment-desc" style="width:380px">
                                                                    <p>Karakter ceweknya lucu.. . :)) Berasa korea korea gitu. Hehe.. .</p>
                                                            
                                                            </div>
                                                        </div>
                                                        							<div class="clear">
                                            
                                                        </div>
                                                        <div class="commentDesignFront"><span class="voteAccFront" title="27 Votes">27 </span><span class="commentAccFront" title="21 Comment">21</span></div>
                                                </div>
                                        </div>
                                        <div class="clear">
                                            
                                        </div>
                                        <hr style="color: silver;">
                                                                                                  <div class="" style="display: block;">
                                            <div class="designfront-image">
                                                        <a href="http://www.gantibaju.com/tees/Home-Sweet-Arts/5962" title="Desain Kaos Home Sweet Arts di gantibaju.com oleh johanan ade ">
                                                            <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/thumb197069454kecil.jpg" alt="Desain Kaos Home Sweet Arts" title="Desain Kaos Home Sweet Arts di gantibaju.com oleh johanan ade " width="120">
                                                        </a>
                                                        <!--<div class="designFront-votes"> Votes</div>-->
                                                </div>
                                                <div class="designfront">
                                                    <h3><a href="http://www.gantibaju.com/tees/Home-Sweet-Arts/5962" title="Desain Kaos Home Sweet Arts di gantibaju.com oleh johanan ade " style="color: rgb(50, 58, 71);">Home Sweet Arts</a></h3>
                                                        
                                                    <p><span style="font:italic 1em/1 Georgia,'Times New Roman',Times,serif">oleh</span> <a href="http://www.gantibaju.com/Profile/johanan" title="Profile johanan ade Designer gantibaju.com">johanan ade</a>, dapat di-vote sampai <span style="font:italic 1em/1 Georgia,'Times New Roman',Times,serif">05 Oct 2011</span></p>
                                                    <p>sebuah bentuk kekaguman pada Indonesia, rumah bagi banyak seni dan kesenian juga pekerja-pekerja seni yang luar biasa :) ...</p>
                                                                                                                <div class="commentDesignFront"><!--<h3>Komentar Terakhir :</h3>-->
                                                            <div style="position: relative;">
                                                                <a href="http://www.gantibaju.com/artist_page/johanan-ade/19706" title="">
                                                                    <strong>johanan ade</strong>
								</a>  berkomentar pada desain ini :
                                                             </div>
                                                            <div class="comment-desc" style="width:380px">
                                                                    <p>sebenernye sih maksudnya lebih kaya, kalo gimana negara ini dibangun sama mereka seniman2 hebat gitu</p>
                                                            
                                                            </div>
                                                        </div>
                                                        							<div class="clear">
                                            
                                                        </div>
                                                        <div class="commentDesignFront"><span class="voteAccFront" title="31 Votes">31 </span><span class="commentAccFront" title="27 Comment">27</span></div>
                                                </div>
                                        </div>
                                        <div class="clear">
                                            
                                        </div>
                                        <hr style="color: silver;">
                                                                        <div class="clear"></div>
                        <a href="http://www.gantibaju.com/pilih-desain/" title="Voting desain kaos lainnya" class="dash dash3"><span>Voting desain lainnya »</span></a>

                <script>
                                breadcrumb('');
                </script>

        </div><!-- div.content-left -->
        <div id="right-content">
		<div class="banner banner200">
		    	</div>
			
	<div class="kirim-banner" style="cursor:pointer" onclick="window.location='http://www.gantibaju.com/kirim-desainmu/';">
		
		<!--<div class="kirim-middle">
            				
                </div>
		
		<div class="kirim-buttons">
				        <p><a href="formlogin.php" title="Login" class="dash dash1"><span>Login</span></a> <a href="http://www.gantibaju.com/daftar" title="Daftar" class="dash dash1"><span>Daftar</span></a></p>
        	   
                       <p><a id="bacapanduan" href="http://www.gantibaju.com/panduan" title="Baca panduan kontesnya" class="dash dash3"><span>Baca panduan kontesnya  &raquo;</span></a></p>
        	</div>-->
		
	</div>
	
    		
        
    <div class="separator"></div>

        <h3 class="title" style="font-size: 2.5em;">Top 100 Designer</h3>
                                <div style="display: block;position: relative; width: 220px;margin:0 0 20px 20px; height: 200px;">
                    <a href="http://www.gantibaju.com/top-100-live-ranking/">
                        <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/top2.jpg" alt="Top 100 Designer gantibaju" width="210px"> <br>

                    </a>

                </div>
                
        <div class="separator"></div>
        <h3 class="title" style="font-size: 2.5em;">Forum Gaban</h3>
        <link media="screen" rel="stylesheet" type="text/css" href="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/boxStream.css">
        <div class="boxStreamForum">
                        <div class="blok"><img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/new-post.png"> Thread Rekomendasi</div>
            <div class="boxnya">
                            <div class="garisShow">
                    <a href="http://www.gantibaju.com/artist_page/bykai/10251" title="bykai">
                                        <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/10251_bykai.jpg" class="avatar-steam-forum" width="30">
                    </a>
                <a href="http://www.gantibaju.com/forum/ShowComment/361/Model-cewe-nya-diperbanyak-dongs-">Model cewe nya diperbanyak dongs :)</a><br>
                Oleh <a href="http://www.gantibaju.com/artist_page/bykai/10251">bykai </a>
                </div>
                <div style="clear: both;"></div>
                            <div class="garisShow">
                    <a href="http://www.gantibaju.com/artist_page/Eri-Permana/23638" title="Eri Permana">
                                        <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/23638_Untitled-1.jpg" class="avatar-steam-forum" width="30">
                    </a>
                <a href="http://www.gantibaju.com/forum/ShowComment/674/Gimana-sih-prosedur-submit-desain-dari-awal-sampe-akhir-desain-kita-diterima">Gimana sih prosedur submit desain dari awal sampe akhir desain kita diterima??</a><br>
                Oleh <a href="http://www.gantibaju.com/artist_page/Eri-Permana/23638">Eri Permana</a>
                </div>
                <div style="clear: both;"></div>
                            <div class="garisShow">
                    <a href="http://www.gantibaju.com/artist_page/Bovie-Sandhi/7989" title="Bovie Sandhi">
                                        <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/7989_saiko.jpg" class="avatar-steam-forum" width="30">
                    </a>
                <a href="http://www.gantibaju.com/forum/ShowComment/680/Gantibajucom-Support-Sport--Kopdar--Pameran--22-23-Oktober-2011-Updated">Gantibaju.com Support Sport + Kopdar + Pameran = 22-23 Oktober 2011 (Updated!)</a><br>
                Oleh <a href="http://www.gantibaju.com/artist_page/Bovie-Sandhi/7989">Bovie Sandhi</a>
                </div>
                <div style="clear: both;"></div>
                            <div class="garisShow">
                    <a href="http://www.gantibaju.com/artist_page/Rifani-Muhammad-Syaferi/19259" title="Rifani Muhammad Syaferi">
                                        <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/19259_for%2520gaban.jpg" class="avatar-steam-forum" width="30">
                    </a>
                <a href="http://www.gantibaju.com/forum/ShowComment/681/Kakak-share-karyanya-yg-pernah-d-bajak-dong">Kakak share karyanya yg pernah d bajak dong?</a><br>
                Oleh <a href="http://www.gantibaju.com/artist_page/Rifani-Muhammad-Syaferi/19259">Rifani Muhammad</a>
                </div>
                <div style="clear: both;"></div>
                            <div class="garisShow">
                    <a href="http://www.gantibaju.com/artist_page/Anang-Pradipta/240" title="Anang Pradipta">
                                        <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/3644a684f98ea8fe223c713b77189a77_240.png" class="avatar-steam-forum" width="30">
                    </a>
                <a href="http://www.gantibaju.com/forum/ShowComment/600/Apakah-yang-terjadi-kalau-gw-capek-nge-reject-">Apakah yang terjadi kalau gw capek nge reject ?</a><br>
                Oleh <a href="http://www.gantibaju.com/artist_page/Anang-Pradipta/240">Anang Pradipta</a>
                </div>
                <div style="clear: both;"></div>
                        </div>
                                    <div class="blok"><img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/new-post.png"> Thread Terbaru</div>
            <div class="boxnya">
                            <div class="garisShow">
                    <a href="http://www.gantibaju.com/artist_page/reyrey78921/6942" title="reyrey78921">
                                        <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/6942_wewe.jpg" class="avatar-steam-forum" width="30">
                    </a>
                <a href="http://www.gantibaju.com/forum/ShowComment/687/vector-stock-sites-review">vector stock sites review</a><br>
                Oleh <a href="http://www.gantibaju.com/artist_page/reyrey78921/6942">reyrey78921 </a>
                </div>
                <div style="clear: both;"></div>
                            <div class="garisShow">
                    <a href="http://www.gantibaju.com/artist_page/Rifani-Muhammad-Syaferi/19259" title="Rifani Muhammad Syaferi">
                                        <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/19259_for%2520gaban.jpg" class="avatar-steam-forum" width="30">
                    </a>
                <a href="http://www.gantibaju.com/forum/ShowComment/686/Macam-macam-software-graphis">Macam-macam software graphis</a><br>
                Oleh <a href="http://www.gantibaju.com/artist_page/Rifani-Muhammad-Syaferi/19259">Rifani Muhammad</a>
                </div>
                <div style="clear: both;"></div>
                            <div class="garisShow">
                    <a href="http://www.gantibaju.com/artist_page/Rifani-Muhammad-Syaferi/19259" title="Rifani Muhammad Syaferi">
                                        <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/19259_for%2520gaban.jpg" class="avatar-steam-forum" width="30">
                    </a>
                <a href="http://www.gantibaju.com/forum/ShowComment/685/Design-Jendral-Sudirman-penghuni-gantibajucom">Design Jendral Sudirman penghuni gantibaju.com</a><br>
                Oleh <a href="http://www.gantibaju.com/artist_page/Rifani-Muhammad-Syaferi/19259">Rifani Muhammad</a>
                </div>
                <div style="clear: both;"></div>
                            <div class="garisShow">
                    <a href="http://www.gantibaju.com/artist_page/ramdhani-nuzul-effendi/24300" title="ramdhani nuzul effendi">
                                        <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/24300_hehe24.jpg" class="avatar-steam-forum" width="30">
                    </a>
                <a href="http://www.gantibaju.com/forum/ShowComment/684/minta-kritik-dan-sarannya-donk-hehehe-buat-agan-master">minta kritik dan sarannya donk.. hehehe buat agan" master...</a><br>
                Oleh <a href="http://www.gantibaju.com/artist_page/ramdhani-nuzul-effendi/24300">ramdhani nuzul</a>
                </div>
                <div style="clear: both;"></div>
                            <div class="garisShow">
                    <a href="http://www.gantibaju.com/artist_page/Rifani-Muhammad-Syaferi/19259" title="Rifani Muhammad Syaferi">
                                        <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/19259_for%2520gaban.jpg" class="avatar-steam-forum" width="30">
                    </a>
                <a href="http://www.gantibaju.com/forum/ShowComment/683/iSad-Share-pandanganmu-mengenai-Steve-Jobs">iSad, Share pandanganmu mengenai Steve Jobs </a><br>
                Oleh <a href="http://www.gantibaju.com/artist_page/Rifani-Muhammad-Syaferi/19259">Rifani Muhammad</a>
                </div>
                <div style="clear: both;"></div>
                        </div>
                    </div>        
    	
    <div class="separator" style="width:235px;"></div>
    <div id="side-tweets">
		<iframe src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/connect.html" style="border: medium none; width: 240px; height: 180px;" frameborder="0" scrolling="no"></iframe>
	</div><!-- #side-tweets -->
	
    <div class="separator" style="width:235px;"></div>
    	
        
        <div id="narsis-side">
            <a href="http://www.gantibaju.com/pilih-desain/?Archive=999" title="Lihat Semua Arsip"><h3 class="title">Inspirasi Desain</h3></a>
             
            <div class="desain-lain-side">
                    <a href="http://www.gantibaju.com/tees/Shocking-Baloon/799" title="Shocking Baloon">
                            <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/37ddcd958ddb70c9930e064325f7d6cc_thumb%2520copy.jpg" alt="Shocking Baloon" height="80" width="100">
                    </a>

            </div>
                             
            <div class="desain-lain-side">
                    <a href="http://www.gantibaju.com/tees/Semangat-Garuda/1390" title="Semangat Garuda">
                            <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/thumb65609214indonesia-2.jpg" alt="Semangat Garuda" height="80" width="100">
                    </a>

            </div>
                             
            <div class="desain-lain-side">
                    <a href="http://www.gantibaju.com/tees/Koprolsee-What-People-Say/815" title="Koprol_see What People Say">
                            <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/01254209fdf5c97e306631a1821d2291_koprol_see-what-people-say.jpg" alt="Koprol_see What People Say" height="80" width="100">
                    </a>

            </div>
                             
            <div class="desain-lain-side">
                    <a href="http://www.gantibaju.com/tees/Koprolholic/757" title="Koprolholic">
                            <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/007622fb0bbc72aeb8cd33ea30b88fb1_koprolholic.jpg" alt="Koprolholic" height="80" width="100">
                    </a>

            </div>
                             
            <div class="desain-lain-side">
                    <a href="http://www.gantibaju.com/tees/Indonesian-Ninja/4368" title="Indonesian Ninja">
                            <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/thumb3928203nininjaan-copy.gif" alt="Indonesian Ninja" height="80" width="100">
                    </a>

            </div>
                             
            <div class="desain-lain-side">
                    <a href="http://www.gantibaju.com/tees/Terbang-Bersama-Koprol/977" title="Terbang Bersama Koprol">
                            <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/thumb_26011828_Copy%2520of%2520200PX.jpg" alt="Terbang Bersama Koprol" height="80" width="100">
                    </a>

            </div>
                                        <div class="clear"></div>
        </div>
            <div class="separator"></div>
    
        <div id="narsis-side">
        <a href="http://www.gantibaju.com/foto-narsis/" title="Halaman foto narsis"><h3 class="title">Pojok Narsis</h3></a>
                                    
                        
            
                <div class="narsis"><a href="http://www.gantibaju.com/photo-user/?id_photo=162" title="Foto Narsis lagi cari cinta #eeaa :p Oleh : Dwita indri"><img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/cache_bb0123b42a9720cf928638b0720227c0_300720112065.jpg" alt="Foto Narsis lagi cari cinta #eeaa :p oleh Dwita indri"></a></div>
                
                        
            
                <div class="narsis"><a href="http://www.gantibaju.com/photo-user/?id_photo=11" title="Foto Narsis Gantibaju rame2 Oleh : Setyagus Sucipto"><img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/cache_0095586db2841e3d16aa69ee059c0fad_palembang.jpg" alt="Foto Narsis Gantibaju rame2 oleh Setyagus Sucipto"></a></div>
                
                        
            
                <div class="narsis"><a href="http://www.gantibaju.com/photo-user/?id_photo=96" title="Foto Narsis KAOS MERAH Oleh : DYLOVASTUFF"><img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/cache_c47c9c49106ee59980b63d4491f05cf3_DSCN0665.JPG" alt="Foto Narsis KAOS MERAH oleh DYLOVASTUFF"></a></div>
                
                        
            
                <div class="narsis"><a href="http://www.gantibaju.com/photo-user/?id_photo=67" title="Foto Narsis Natal ceria dengan kaos G Oleh : Dian Adi Prasetyo"><img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/cache_8613e61ea568924ca9a87444a70c0374_didut_natal%252520Mediu.jpg" alt="Foto Narsis Natal ceria dengan kaos G oleh Dian Adi Prasetyo"></a></div>
                
                        
            
                <div class="narsis"><a href="http://www.gantibaju.com/photo-user/?id_photo=95" title="Foto Narsis ehhmmm,.. Oleh : Rayi Christian Wicaksono"><img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/cache_fd5273ddaabade6aec0d32449a97c9be_IMG_3577aaa.jpg" alt="Foto Narsis ehhmmm,.. oleh Rayi Christian Wicaksono"></a></div>
                
                        
            
                <div class="narsis"><a href="http://www.gantibaju.com/photo-user/?id_photo=5" title="Foto Narsis kembar tak serupa Oleh : anggi krisna"><img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/cache_0e9447c6349faa802657184b52ea6e17_40031_419535609665_89.jpg" alt="Foto Narsis kembar tak serupa oleh anggi krisna"></a></div>
                
                    <div class="clear"></div>
    </div>
    
        	<div class="separator"></div>
	
	<div id="newsletter-side">
		<p>Dapetin berita dan promo terbaru dari gantibaju.com langsung di email kamu!</p>
        
		<form actyour="" photo="" should="" be="" waiting="" an="" approval="" from="" the="" admin,="" to="" show="" on="" galleryion="#">
			<p class="dissolve">
				<label for="newsletter" class="dislabel">email kamu</label>
				<input id="newsletter" class="disinput" type="text">
				<input value="Daftar" onclick="subscribeemail(document.getElementById('newsletter').value); return false;" type="submit">
			</p>
                </form>
	</div><!-- #newsletter-side -->

	<div class="separator"></div>

        <h3 class="title" style="font-size: 2.5em;">Supported By :</h3>

                <div style="display: block;position: relative; width: 220px;margin:0 0 20px 10px; height: 220px;">
                    <a href="http://www.gantibaju.com/banner.php?action=view&amp;id=2" onclick="setClickCount(2);" target="BLANK">
                        <img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/logo-concept.png" style="margin: 5px 25px;" alt="Concept Magazine" width="160"> <br>
			<img src="Kompetisi%20desain%20kaos%20terbesar%20di%20Indonesia%20%7C%20GantiBaju.com_files/logo-babyboss.png" style="margin: 5px 25px;" alt="Babyboss" width="160">
                    </a>

                </div>

			

</div><!-- div.content-right -->
<div class="clear"></div>

</div> <!--baju div container_16 clearfix dari header-->
